In [1]:
from Univariate import Univariate
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
quan, qual = Univariate.QuanQual(dataset)

In [6]:
descriptive=pd.DataFrame(index=["mean","median","mode"],columns=quan)
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [7]:
for columnName in quan:
    descriptive[columnName]["mean"]=dataset[columnName].mean()
    descriptive[columnName]["median"]=dataset[columnName].median()
    descriptive[columnName]["mode"]=dataset[columnName].mode()[0]

In [8]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [18]:
#import pandas as pd
#descriptive=Univariate.UniVariate(dataset,quan)