In [40]:
import pandas as pd
import numpy as np

In [41]:
dataset=pd.read_csv("Placement.csv")

In [53]:
def QualQuan(dataset):
    qual=[]
    quan=[]
    for columnName in dataset.columns:
        if dataset[columnName].dtype=='O':
            qual.append(columnName)
        else:
            quan.append(columnName)
    return qual,quan

In [54]:
output=QualQuan(dataset)
quan=output[1]
qual=output[0]

descriptive=pd.DataFrame(index=["mean","median","mode"],columns=quan)
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [55]:
for columnName in quan:
    descriptive[columnName]["mean"]=dataset[columnName].mean()
    descriptive[columnName]["median"]=dataset[columnName].median()
    descriptive[columnName]["mode"]=dataset[columnName].mode()[0]

In [56]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [57]:
descriptive=pd.DataFrame(index=["mean","median","mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%",
                               "IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
descriptive

for columnName in quan:
    descriptive[columnName]["mean"]=dataset[columnName].mean()
    descriptive[columnName]["median"]=dataset[columnName].median()
    descriptive[columnName]["mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()
    
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0

In [59]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive[columnName]["Lesser"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if (descriptive[columnName]["Greater"]<descriptive[columnName]["Max"]):
        greater.append(columnName)

In [60]:
lesser

[]

In [61]:
greater

[]

In [15]:
#dataset["hsc_p"][dataset["hsc_p"]<descriptive["hsc_p"]["Lesser"]]

In [68]:
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [69]:
lesser

[]

In [70]:
greater

[]