In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Preproc_Placement.csv")

In [3]:
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [7]:
#Independent Sample - Unpaired T-Test
#Different Group(Male,Female) and same condition(salary)

In [10]:
from scipy.stats import ttest_ind
male_sal=dataset[dataset['gender']=='M']['salary']
female_sal=dataset[dataset['gender']=='F']['salary']
ttest_ind(male_sal,female_sal)

Ttest_indResult(statistic=1.9001627265152634, pvalue=0.05876239427122642)

In [ ]:
#Independent Sample - Unpaired T-test
#Different Group(hsc_board - others & central) and same condition(hsc_p)

In [14]:
from scipy.stats import ttest_ind
b_others=dataset[dataset["hsc_b"]=='Others']["hsc_p"]
b_central=dataset[dataset["hsc_b"]=="Central"]["hsc_p"]
ttest_ind(b_others,b_central)

Ttest_indResult(statistic=-0.2853493873666584, pvalue=0.7756537600353762)

In [29]:
#Independent Sample - Unpaired T-test
#Different Group(hsc_s - Commerce & Science) and same condition(mba_p)
from scipy.stats import ttest_ind
com_hsc=dataset[dataset["hsc_s"]=='Commerce']["mba_p"]
sci_hsc=dataset[dataset["hsc_s"]=="Science"]["mba_p"]
ttest_ind(com_hsc,sci_hsc)

Ttest_indResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314)

In [15]:
#Dependent Sample - Paired T-Test
#Same Group(Male) and Different condition(ssc_p,hsc_p)

In [13]:
from scipy.stats import ttest_rel
sscp=dataset[dataset["gender"]=='M']['ssc_p']
hscp=dataset[dataset["gender"]=='M']['hsc_p']
ttest_rel(sscp,hscp)

Ttest_relResult(statistic=0.6852881050898078, pvalue=0.49431164600731503)

In [ ]:
#Dependent sample - Paired T-Test
#Same Group(Commerce) and different condition(etest_p,mba_p)

In [30]:
from scipy.stats import ttest_rel
com_etest=dataset[dataset["hsc_s"]=="Commerce"]["etest_p"]
com_mba=dataset[dataset["hsc_s"]=="Commerce"]["mba_p"]
ttest_rel(com_etest,com_mba)

Ttest_relResult(statistic=7.868552092606869, pvalue=2.462926468454984e-12)

In [ ]:
#Dependent sample - Paired T-Test
#Same Group(Science) and different condition(etest_p,mba_p)
from scipy.stats import ttest_rel
sci_etest=dataset[dataset["hsc_s"]=="Science"]["etest_p"]
com_mba=dataset[dataset["hsc_s"]=="Science"]["mba_p"]
ttest_rel(sci_hsc,com_hsc)